@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: #F5F5FA;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 99999999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.headerMenu :hover {
    background-color: black;
    color: white;
  }

.headerButtons {
    border: none;
    background-color: white;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-radius: 32px;
    padding: 5px 15px;
    cursor: pointer;
}

.headerButtonContactUs {
    height: 40px;
    width: 135px;
    margin-left: 20px;
    border-radius: 32px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.textOnImageAbout {
    position: absolute; 
    top: 34%;
}

.textMain {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.mainButton {
    margin-top: 20px;
    height: 40px;
    width: 135px;
    border-radius: 32px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    align-items: center;
    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
    cursor: pointer;
}

.aboutOne {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.textsAbout {
    margin-top: -30px;
    margin-left: 10%;
    width: 40%
}

.firstTextAbout {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #454654;
}

.secondTextAbout {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #EB3F57;
}

.thirdTextAbout {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    color: #000000;
}

.aboutTwo {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.textsAboutTwo {
    margin-top: -30px;
    margin-right: 10%;
    width: 40%;
}

.missionAndPathway {
    margin-top: 10px;
    margin-left: 10%;
}

.mission {
    display: flex;
    align-items: center;
}

.pathway {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.missionPathwayTexts {
    margin-left: 40px;
}

.secondTextAboutTwo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #000000;
}

.secondTextAboutThree {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #EB3F57;
}

.aboutButton {
    margin-top: 20px;
    height: 40px;
    width: 180px;
    border-radius: 32px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    align-items: center;
    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
    cursor: pointer;
}

#education {
    margin-top: 10%;
}

.contact {
    margin-top: 20%;
    margin-bottom: 10%;
    background-image: url("../images/contacts.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    min-height: 600px;
    align-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.contactUs {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 10%;
}

.applicationOnImageContacts {
    width: fit-content;
    position: relative;
    display: flex;
}

.textOnImageContacts {
    position: relative;
}

.textHi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0px;
    color: #EB3F57;
}

.textSay {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #67748E;
    margin-top: 40px;
}

.myName {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1px;
    color: #252F40;
    margin-top: 60px;
}

.myNumber {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1px;
    color: #252F40;
    margin-top: 30px;
}

input {
    width: 500px;
    height: 40px;
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
}

.sendButton {
    margin-top: 50px;
    margin-left: 35%;
    height: 40px;
    width: 135px;
    border-radius: 32px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    align-items: center;
    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
    cursor: pointer;
}

.contactInfo {
    font-family: 'Open Sans';
    font-style: normal;
    color: white;
}

.contactInfoH {
    font-weight: 700;
    font-size: 32px;
    line-height: 10px;
}

.contactInfoP {
    font-weight: 400;
    font-size: 17px;
    line-height: 10px;
}

.contactButtons {
    margin-top: 50px;
    margin-left: -5px;
}

.contactButtons button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.footer {
    height: 50px;
    background-color: white;
}

.photoAbout {
    width: 80%;
}

.photoAboutImg {
    width: 100%;
}

@media (max-width: 1440px) {
    .photoAbout {
        height: fit-content;
    }

    .secondTextAboutThree {
        line-height: 37px;
        margin: 0px 0px;
    }

}